
//@tailwind base;
//@tailwind components;
//@tailwind utilities;
// Override default variables before the import
$body-bg: #fff;
$primary: #87972f;
$dark: #373637;
$border-radius: 3px;


$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';


:root {
  --inkydark: #373637;
  --offwhite: #f9f3f2;
  --white: #f9f3f2;
  --lightgreen: #CDEAE5;
  --normalgreen: #A8D4CC;
  --purple: #5F5283;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--lightgreen);
}

#root {

}

.nav-pills .nav-link {
  font-size: 1.1rem;
  color: var(--gray);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--primary);
  background-color: var(--white);
  border-bottom: 4px solid var(--primary);
  border-radius: 0;
  font-weight: 700;
}
.btn-primary, .btn-primary:hover{
  color: var(--offwhite);
}



svg {
  overflow: visible;
}

.form-control::placeholder {
  color: #dfe7da !important;
  opacity: 1;
}

.form-control {
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 0.5;
}

@media (min-width: 576px) {
  .modal-sm {
    max-width: 400px;
  }
}